---
---
$site-green: #81fca2;
$site-red: #b8372e;
$site-white: #ffffff;
$site-brown: #423710;
$site-black: #000000;
$site-blue: #3E68ED;

$site-bg1: #C1D0E2;
$site-bg2: #5DA1C4;
$site-bg3: #25303C;
$site-bg4: #527A8E;
$site-bg5: #85B2C7;

h1, p {
    // font-size: 2.3vw;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

li {
    // font-size: 2.4vw;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    color: $site-black;
}

.body-img {
    max-width:20%;
    height: auto;
    border: $site-bg4 solid 8px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.project-container {
    background-color: $site-bg5;
    padding: 5px;
    h2 {
        color: $site-black;
        text-align: center;
    }
}

body {
    margin: 0px;
    background-color: $site-bg1;
}

main {
    font-family: cursive, Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
    a {
        // font-size: 20px;
        text-decoration: none;
        color: $site-black;
    }
    div {
        margin: 20px 0px 20px 0px;
    }
}

nav {
    left: 100px;
    background-color: $site-bg3;
    a {
        margin: 5px 10px 5px 10px;
        display: inline-block;
        text-decoration: none;
        color: $site-white;
        font-size: 2em;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

section {
    display: block;
    padding-bottom: 38px;
    div {
        width: 100%;
        height: 400px;
        background-image: url("/images/tab_sydney.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
  }

// @media screen and (max-width: 320px) {
//     html {
//       font-size: calc(16px + 6 * ((100vw - 320px) / 680));
//     }
//   }

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
// @media screen and (min-width: 1000px) {
//     html {
//       font-size: 50px;
//     }
//   }

html {
    font-size: clamp(1rem, 3vw, 2rem)
}



// /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
// @media screen and (max-width: 600px) {
//     html {
//       font-size: 30px;
//     }
//   }

//   /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
// @media screen and (min-width: 601px) {
//     html {
//       font-size: 80px;
//     }
//   }



// .section-img {
//     width: 120%;
//     height: auto;
//   }
