<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{page.title}} </title>
        <link href = "/style.css" rel = "stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href = "/">Home</a>
                <a href = "/projects">Projects</a>
                <a href = "/blog">Blog</a>
            </nav>
            <section>
                <div>
                    <!-- <img class = "section-img" src = "/images/tab_sydney.jpg" alt = "A photo of Sydney CBD taken from ferry"> -->
                </div>
            </section>
        </header>
        <main>
            {{ content }}
        </main>
    </body>
</html>